@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.messages{
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins';
}

.my{
    color: rgb(0, 255, 13);
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins';
}
.textbox{
    background: #000;
    border: none;
    color: #fff;
    font-family:'Poppins';
    font-size: 20px;
    width: 100%;
    font-weight: 500;
    
}

.time{
    font-size: 10px;
    color: bisque;
}
.textbox:focus{
    border: none;
    outline: none;
}
.sub{
    visibility:hidden;
}
.auth{
    color: #fff;
    font-family:'Poppins';
    font-size: 20px;
    font-weight: 500;
    visibility: visible;
}
.bottom{
    color: #fff;
    font-family:'Poppins';
    font-size: 20px;
    font-weight: 500;
    visibility: hidden;
}